@font-face {
    font-family: "Avenir Next Cyr";
    src: url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url('../fonts/FuturaPT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Book";
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
  box-sizing: inherit;
  background-color: #000;
  background-color: lightgray;
  font-family: 'Futura PT Book', sans-senif;
}

.promo {
  background-color: #000;
  height: 800px;
  font-family: Avenir Next Cyr, sans-senif;
  font-style: normal;
  font-size: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  height: 300px;
}

.main_nav {
  /*display: inline-block;*/
}
.main_nav__list {
  padding: 0;
}
.main_nav__item {
  display: inline-block;
}

.main_nav__item--current {
  text-decoration: underline;
}
.main_nav__link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.gallery {
}
.gallery__title {
}
.gallery__subtitle {

}
.gallery__item {
}
.gallery__item-img {
}
.gallery__item-descr {
}

.btn {
  font-family: sans-serif;
  display: inline-block;
  color: #000;
  padding: 10px;
  border: 2px solid green;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
}

.btn--black {
  color: #fff;
  background-color: #000;
}