.footer {


  background-image: url("../images/footer__bg--mob.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 350px;
  @media (min-width: $screen-sm) {
    background-image: url("../images/footer__bg--tablet.png");
    background-position: center top;
  }

  @media (min-width: $screen-lg) {
    background-size: cover;
    background-image: url("../images/footer__bg.jpg");
    min-height: 306px;
    background-color: #000;

    padding-top: 58px;
    padding-bottom: 110px;

  }

  &__container {

  @media (min-width: $screen-xs) {

  }

  @media (min-width: $screen-sm) {

  }

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  }

  &__logo {

    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;

  @media (min-width: $screen-sm) {

  }

  @media (min-width: $screen-lg) {

  }
  }


  .contact {
    text-decoration: none;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      text-align: right;
  }

  &__link {
      font-size: 22px;
      font-weight: 700;
      text-decoration: none;
      color: #000;
      display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }

    @media (min-width: $screen-lg) {
      display: inline-block;
      font-size: 22px;
      font-weight: 700;
      text-decoration: none;
      color: #000;
    }
  }

  &__mail {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: #000;
      padding: 10px;

    @media (min-width: $screen-lg) {
      font-size: 22px;


    }
  }

  &__copy {

    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    @media (min-width: $screen-lg) {

    font-family: Futura PT, sans;
    font-size: 15px;
    font-weight: 700;
    text-align: left;

  }
  }
}

.logo {

  width: 63px;
  @media (min-width: $screen-lg) {
    width: 160px;

  }
}

.social {

  @media (min-width: $screen-sm) {

  }

    @media (min-width: $screen-lg) {
    width: 255px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__link-ytb {

    width: 20px;
    height: 20px;
    background: url('../images/css_sprites-mob.png')  -85px -155px;

  @media (min-width: $screen-lg) {
    width: 32px;
    height: 32px;
    background: url("../images/css_sprites.png") -62px -186px;
 width: 32px;
    height: 32px;
    background: url("../images/css_sprites.png")-10px -186px;
  }
  }

  &__link-inst {

  width: 20px;
  height: 20px;
  background: url('../images/css_sprites-mob.png') -45px -155px;

  @media (min-width: $screen-lg) {

  }
  }

  &__link-fb {

    width: 10px;
    height: 21px;
    background: url('../images/css_sprites-mob.png')  -209px -10px;

  @media (min-width: $screen-lg) {
    width: 18px;
    height: 33px;
    background: url("../images/sprites.png") -269px -101px;

  }
  }

  &__link-vk {

    width: 25px;
    height: 15px;
    background: url('../images/css_sprites-mob.png') -125px -155px;

  @media (min-width: $screen-lg) {
    width: 40px;
    height: 24px;
    background: url("../images/sprites.png") -171px -186px;

  }
  }

// .nav-footer {

//   @media (min-width: $screen-xs) {

//   }

//   @media (min-width: $screen-sm) {

//   }

//   @media (min-width: $screen-lg) {

//     display: flex;
//     align-items: flex-end;
//     justify-content: space-between;

//   }

//   &__list {



//   @media (min-width: $screen-sm) {

//   }

//   @media (min-width: $screen-lg) {

//   }
//   }

//   &__item {
//     display: none;


//     @media (min-width: $screen-sm) {

//     }

//     @media (min-width: $screen-lg) {
//       display: inline-block;
//       padding-left: 55px;

//     }
//   }
// }
}